@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@font-face {
    font-family: "North Avellion";
    src: url(../fonts/North\ Avellion\ DEMO.ttf) format('truetype');
}

@font-face {
    font-family: "New York Grunge";
    src: url(../fonts/FontsFree-Net-New-york-Regular-Grunge.ttf) format('truetype');
}

@font-face {
    font-family: "Ailerons";
    src: url(../fonts/Ailerons-Regular.ttf) format('truetype');
}

:root {
    --primary-font-clr: #f9f9f9;
    --playfair-font: 'Playfair Display', serif;
    --inter-font: 'Inter', sans-serif;
    --north-avellion-font: 'North Avellion', serif;
    --newyork-font: 'New York Grunge', serif;
    --aileron-font: 'Ailerons', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FCFBFC;
    padding: 0px;
    margin: 0px;
    font-family: serif;
}

.automobile {
    font-family: var(--aileron-font);
}

.container-custom {
    width: 100%;
    padding: 0 20px;
    margin: 0;
}

@media (min-width:1024px) {
    .container-custom {
        padding: 0 100px;
    }
}

@media (min-width:2000px) {
    .container-custom {
        padding: 0 250px;
    }
}

.header {
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.9);
}

.header-logo {
    font-size: 1.4rem;
}

.navlist .nav-item:hover {
    box-sizing: border-box;
    border-bottom: 1px solid;
    cursor: pointer;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #212121;
    z-index: 6;
    transition: 1s;
}

.dropdown-nav__closeNavBtn {
    color: #cc0000;
}

.mob-nav-list>a {
    padding: 10px;
    color: white;
}

.mob-nav-list>a>span:hover {
    border-bottom: 1px solid;
}

.section-breadcrumb .breadcrumb-item>a {
    color: gray;
}

.section-breadcrumb .breadcrumb-item>a:hover {
    color: royalblue;
}

.breadcrumb .active {
    color: black;
    font-weight: bold;
}

.product_car li>a {
    vertical-align: middle;
    color: gray;
}

.product_car .tags-item::before {
    content: "•";
    vertical-align: middle;
    font-size: 1.5rem;
    color: #cc0000;
}

.favs {
    font-size: .8rem;
}

@media(min-width:425px) {
    .favs {
        font-size: 1rem;
    }
}

.favs>span {
    cursor: pointer;
}

.car-carousel .item,
.car-carousel .car {
    border-radius: 1rem;
}

.thumbnail-height {
    width: 100%;
    height: 70vw;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.details-box {
    width: 100%;
    padding: .5rem;
}

@media (min-width:768px) {
    .thumbnail-height {
        height: 55vw;
    }
}

@media (min-width:1024px) {
    .thumbnail-height {
        height: 40vw;
    }
}

@media (min-width:1440px) {
    .thumbnail-height {
        height: 30vw;
    }
}

@media (min-width:1800px) {
    .thumbnail-height {
        height: 20vw;
    }
}

.details-table {
    width: 100%;
}

.details-table>tbody>tr {
    border-bottom: 1px solid lightgray;
}

.details-table>tbody>tr>td {
    padding: .6rem .1rem;
    font-size: .9rem;
}

.arrow-icons {
    color: #e4e6e8;
}

.top-deals>span {
    color: red;
    font-size: 1.2rem;
    font-weight: 700;
    top: .2rem;
    z-index: 4;
    animation: blink .8s infinite ease-in-out;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.reviewbox {
    border-radius: 1rem;
}

.rating .num {
    font-size: 3rem;
}

.justify-text {
    text-align: justify;
}

.social-media>li>a>i {
    border-radius: 50%;
    padding: 10px;
    color: white;
}

.moretext {
    display: none;
}


/* Swiper JS CSS */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: transparent;
    /* border-radius: 1rem; */
}

.mySwiper2 .swiper-slide img {
    border-radius: 1rem;
}

.swiper {
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    background: transparent;
}

.mySwiper2 {
    height: 70vw;
    width: 100%;
}

.mySwiper {
    height: 15vw;
    box-sizing: border-box;
    padding: 10px 0;
}

@media (min-width:768px) {
    .mySwiper2 {
        height: 55vw;
    }
    .mySwiper {
        height: 10vw;
    }
}

@media (min-width:1024px) {
    .mySwiper2 {
        height: 45vw;
    }
    .mySwiper {
        height: 5vw;
    }
}

@media (min-width:1440px) {
    .mySwiper2 {
        height: 30vw;
    }
    .mySwiper {
        height: 5vw;
    }
}

@media (min-width:1800px) {
    .mySwiper2 {
        height: 18vw;
    }
    .mySwiper {
        height: 3vw;
    }
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* SWiper Js Css */

.swiper-desk .swiper {
    width: 100%;
    height: 100%;
    padding: 2rem 0rem;
}

.swiper-desk .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-width: 50%;
    height: 80vw;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

@media (min-width:764px) {
    .swiper-desk .swiper-slide {
        min-width: 20%;
        height: 40vw;
    }
}

@media (min-width:1024px) {
    .swiper-desk .swiper-slide {
        min-width: 20%;
        height: 35vw;
    }
}

@media (min-width:1440px) {
    .swiper-desk .swiper-slide {
        min-width: 20%;
        height: 25vw;
    }
}

.swiper-desk .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-desk .swiper-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}


/* Swiper Js Mob */

.swiper-mob .swiper {
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.swiper-mob .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    height: 90vw;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

.swiper-mob .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-mob .swiper-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}


/* card new */

.card-about {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    font-family: var(--inter-font);
}

@media (min-width:0px) {
    .card-about {
        display: none;
    }
}

@media (min-width:764px) {
    .card-about {
        display: flex;
    }
}

.card-about>div {
    font-size: 12px;
    font-weight: 400;
}

.card-about>div>span {
    font-size: 15px;
    font-weight: 700;
}

.card-btn {
    position: absolute;
    bottom: 5%;
    left: 5%;
    border-radius: 10px;
    padding: .3rem 1rem;
    font-size: 1rem;
}

@media (min-width:764px) {
    .card-btn {
        bottom: 22%;
        padding: 8px 25px;
        font-size: 18px;
    }
}

.card-carname {
    position: absolute;
    bottom: 15%;
    left: 5%;
    right: 0;
    text-align: start;
}

@media (min-width:764px) {
    .card-carname {
        bottom: 35%;
    }
}

.card-cartype {
    position: absolute;
    /* font-family: var(--aileron-font); */
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 5%;
    left: 10%;
    font-size: 16px;
    opacity: .8;
}